/*MenuTelaInicialParticipante*/
body{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background: darkred;
}
#PainelMenuEsquerdo{
    position: relative;
    width: 20%;
    height: 100%;
    background: darkred;
    float: left;
   
}

#painelDireito{
	position: relative;
	width: 80%;
	height: 100%;
	background: gray;
	float: right;
}

#rodape{
	position: relative;
	width: 100%;
	height: 20%;
	float: left;
}

.hpPainelLogoSiteParticipante{
    position: relative;
    /* margin-top: 10px; */
    margin-bottom: 10px;
    width: 100%;
    height: 56%;
    /* background: white; */
}

.hpPainelEspacoNome{
	position: relative;	
	margin-top: 10px;
	margin-bottom: 10px;
	width: 100%;
	height: 56%;
	background: white;
}

.hpPainelEventoParticipante{
    position: relative;
    margin-top: 84px;
    margin-bottom: 3px;
    width: 100%;
    height: 56%;
    cursor: pointer;
    background: white;
}

.hpPainelLogoutParticipante{
    position: relative;
    /* margin-top: 10px; */
    margin-bottom: 10px;
    width: 100%;
    height: 56%;
    /*background: white;*/
    cursor: pointer;
}

.hpPainelCertificadoParticipante{
	position: relative;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 100%;
	height: 56%;
	/*background: white;*/
}
.vpPainelMenuTelaInicialParticipante{
	position: relative;
	width: 100%;
	height: 100%;
	border: 1px solid;
}

.vpPainelEventoParticipante{
	position: relative;
	width: 100%;
	height: 100%;
}

.iLogoSiteParticipante{
	position: relative;
	
}

.iEventoParticipante{
    position: relative;
    margin-left: 10px;
    margin-top: 7px;
	
}

.iLogoutParticipante{
	position: relative;
	margin-left: 10px;
	margin-top: 10px;
	
}

.iMudaMenuParticipante{
	position: relative;
	cursor: pointer;
	margin-top: 10px;
	margin-left: 10px;
	
}

.lbNomeParticipanteMenu{
	position: relative;
	margin-top: 10px;
	margin-left: 10px;
	margin-bottom: 10px;
	color: white;
}

.lbEventoParticipante{
    position: relative;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    color: #AEFF5F;
	
}


.lbLogoutParticipante{
	position: relative;
	margin-top: 10px;
	margin-left: 10px;
	margin-bottom: 10px;
	color: white;
	
}
.lbCertificadoParticipante{
	position: relative;
	margin-top: 10px;
	margin-left: 10px;
	margin-bottom: 10px;
	color: white;
}
.lbSetaParticipante{
	position: relative;
	margin-top: 10px;
	margin-left: 10px;
	margin-bottom: 10px;
	color: white;
}
/*********************************/
/*HomeTelaInicialParticipanteView*/
/*********************************/

.hpPainelTituloHome{
	position: relative;
	width: 100%;
	height: 100%;
}

.hpPainelTextboxButtonPesquisar{
	position: relative;
	width: 100%;
	height: 100%;	
}
.hpPainelTabelaEventos{
	position: relative;
	width: 100%;
	height: 100%;	
}
.vpPainelPesquisarEventoTotal{
	position: relative;
	width: 100%;
	height: 100%;	
}
.vpPainelGuardaPaginaPesquisarEvento{
	position: relative;
	width: 100%;
	height: 100%;	
	background: white;
	border: 1px solid;
}
.lbTituloPaginaPesquisar{
    position: relative;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.btnPesquisarEventoParticipante{
    position: relative;
    margin-top: 8px;
    /* margin-left: -68px; */
    width: 15%;
    height: 127%;
    background: none;

	
}
.tbPesquisarEvento{
	position: relative;
	width: 76%;
	height: 100%;	
	margin-top: 10px;
	margin-left: 10px;
	
}
.ftTabelaEventoTelaParticipante{
    position: relative;
    width: 70%;
    height: 100%;
    margin-top: 10px;
    border: 0.5px solid white;
    background: rgb(115, 172, 237);
    margin-bottom: 30px;
    outline: none;
}

/******************************************/
/*PainelDeMenusCantoEsquerdoView***********/
/******************************************/

.hpPainelNomeParticipante{
	position: relative;
	width: 100%;
	height: 100%;
}

.hpPainelLabelCertificados{
	position: relative;
	width: 100%;
	height: 100%;	
}

.hpPainelLogoutParticipante{
	position: relative;
	width: 100%;
	height: 100%;	
}

.lbNomeParticipante{
	position: relative;
	
}


.lbCertificadoParticipante{
	position: relative;
	
}

.lbLogoutParticipante{
	position: relative;
	
}


/******************************************/
/*ParticipantePesquisarAtividadesPopupView*/
/******************************************/
.hpPainelTituloPopupAtividades{
	position: relative;
	width: 100%;
	height: 100%;
}

.hpPainelPesquisarAtividadesemParticipante{
	position: relative;
	width: 100%;
	height: 100%;	
}
.hpPainelPainelTabelaAtividadesemParticipante{
	position: relative;
	width: 100%;
	height: 100%;	
}
.vpPainelPopupPesquisareInscreveremAtividade{
	position: relative;
	width: 100%;
	height: 100%;	
}

.lbTituloPopupAtividades{
	position: relative;
		
}

.tbPesquisarAtividades{
	position: relative;
	width: 100%;
	height: 100%;	
}

.btnPesquisarAtividades{
	position: relative;
	width: 100%;
	height: 100%;	
}
.ftTabelaAtividades{
	position: relative;
	width: 100%;
	height: 100%;	
}

/*******************************/
/*****Rodape Participante*******/
/*******************************/
.vpPainelRodapeParticipante{
	position:relative;
	width:100%;
	height: 100%;
	background: white;
}

.iLogoParticipanteRodape{
	position: relative;
	margin-top: 10px;
	margin-left: 10px;
	float: right;
}

