<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->
  
  <servlet>
    <servlet-name>PrincipalServiceServlet</servlet-name>
    <servlet-class>edu.ifg.formosa.principal.server.PrincipalServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>PrincipalServiceServlet</servlet-name>
    <url-pattern>/eventif/principalservice</url-pattern>
  </servlet-mapping>
   
   <servlet>
    <servlet-name>GerenteServiceServlet</servlet-name>
    <servlet-class>edu.ifg.formosa.gerente.server.GerenteServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>GerenteServiceServlet</servlet-name>
    <url-pattern>/gerente/gerenteservice</url-pattern>
  </servlet-mapping> 
  
  <welcome-file-list>
    <welcome-file>Eventif.html</welcome-file>
  </welcome-file-list>

</web-app>